
<div class="home">
  <div fxLayout="row" fxLayoutAlign="space-evenly center" >
    <div class="home__conteudos">

      <div class="home__titulo">
        <p class="titulo">Quais jogos a <br> <br> galera gosta mais? </p>
      </div>

      <div class="home__subtitulo">
        <p class="subtitulo">Clique no botão abaixo e saiba quais são os <br>jogos que os gamers estão escolhendo</p>
      </div>

      <div  class="home__botao" >
      <a routerLink="/records">
          <button class="botao" mat-raised-button>
            QUERO SABER QUAIS SÃO
          </button>

          <i class="material-icons icone-botao">

          </i>
        </a>
      </div>

      <div class="home__conteudos-imagem">
        <img class="imagem_gamer" src="assets/img/gamer.svg" alt="gamer">
      </div>
    </div>
  </div>


</div>

